<h1>Update <%= @album.name() %></h1>

<form action="/albums/<%= @album.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename album</label>
  <input id="name" name="name" type="text" class="form-control" value= <%= @album.name() %> >
  <label for="album_year">Album year</label>
  <input id="y" name="album_year" class="form-control" type="text" value= <%= @album.year() %>>
  <label for="album_cost">Album cost</label>
  <input id="g" name="album_cost" class="form-control" type="text" value= <%= @album.cost() %>>

  <button type="submit">Update</button>
</form>

<p><a href="/albums">Return to album list</a></p>

<form action="/albums/<%= @album.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete album</button>
</form>